include ../partials/header.pug
script.
  party = !{JSON.stringify(party)}
a(href='/')
  h1 Qui prend quoi ? 🎉
h2= party.name
h3 Créé par #{party.author}
section
  .newParty__share
    label(for="url") Partagez l'événement
    input(id="url" value=`${url}` data-clipboard=`${url}` data-share-url=`${url}` data-share-title=`${party.name}` 
          data-share-text=`${party.author} vous invite a rejoindre l'événement ${party.name}`)
  .newParty
    h3 Ajouter un item
    form(method="post" action=`/party/${party._id}/items`)
      .newParty__input
        label(for="name") Nom de l'item
        input(type="text" id="name" name="name" required placeholder="Raclette")
      .newParty__input
        label(for="user") Utilisateur
        input(type="text" id="user" name="user" required placeholder="David")
      button(type="submit").test Créer
     
  .newParty
    h3 Liste des items 
    if(list)
    .newParty__items
      each item in party.items
        .newParty__items--container
          p #{item.user} - #{item.name} 
          form(method="post" action=`/party/${party._id}/items/${item._id}?_method=DELETE`)
            button(type="submit") Supprimer l'item
      else 
        p Pas d'items pour cette événement pour le moment

include ../partials/footer.pug
